.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media screen and (max-width: 800px) {
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
    &:active {
      background-color: white;
    }
  }

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;

    @media screen and (max-width: 800px) {
      width: 50px;
      padding: 0;
      &:active {
        background-color: white;
      }
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 800px) {
      width: 80%;
      cursor: pointer;
      &:active {
        background-color: white;
      }
    }
    .option {
      padding: 10px 15px;
      text-transform: uppercase;
      @media screen and (max-width: 470px) {
        padding:5px;
        cursor: pointer;
        &:active {
          background-color: dodgerblue;
          color: white;
        }
      }
    }
  }
}
